* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: Roboto;
    background-color: var(--primary-color-1);
}

img {
    margin: 0;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;

    transition: .5s;
}

img:hover {
    padding: .5em;
    opacity: 0.8;
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    margin: 80px auto;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    gap: 10px;
}

main>* {
    grid-column: 2;
}