* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color-1);
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    cursor: pointer;

}

a {
    color: inherit;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    gap: 10px;

}

main>* {
    grid-column: 2;
}