canvas {
    font-family: Montserrat;
    background-color: antiquewhite;
    margin-bottom: 10px;
}


.montserrat {
    font-family: Montserrat;
}

.roboto {
    font-family: Roboto;
}

.poppins {
    font-family: Poppins;
}