.editor {
    display: grid;
    gap: 20px;
    justify-items: center;
    width: 100%;
   
    font-size: 1.5rem;
    padding: 50px;
    border-radius: 1.875em;
    background-color: #383b42;
}

.editor .text {
    width: 100%;
    padding: 1.5em;
    border: 0;
    border-radius: 3em;
}

.editor .download {
    background-color: #fff;
    padding: 1em;
    border-radius: 3em;
}