.meme-editor {
    display: none;
    position: relative;
}

.editor {
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    /* width: 460px; */

    font-size: 1.5rem;
    padding: 1.5em;
    border-radius: 1.875em;
    background-color: #383b42;
}

.msg {
    position: absolute;
    right: 3em;
    bottom: 3em;
    opacity: 0;
    font-size: 1.5em;
    color: lightgreen;

    transition: 1s;
}

.msg::after {
    font-family: far;
    content: "\f058" " " "saved";
}

.btns-lines {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.btns-lines>* {
    width: 75px;
    height: 75px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.editor-btns-txt {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    gap: 10px;
    border-radius: 10px;
    padding: .8em;

    background-color: rgb(58, 150, 119);
}


.btns-txt>* {
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.btns-txt>*:hover{
    color: rgb(39, 105, 105);
}

.delete {
    background-color: rgb(255, 112, 112);
}

.switch-line {
    background-color: rgb(110, 132, 206);
}

.add-line {
    background-color: rgb(96, 177, 88);
}

.delete:hover::after {
    content: "delete";
}

.add-line:hover::after {
    content: "add line";
}

.switch-line:hover::after {
    content: "switch line";
}

.editor .text {
    grid-row: 1;
    width: 100%;
    padding: .75em;
    border: 0;
    border-radius: 3em;
}

.selects {
    grid-row: 2;
}

.selects>*:not(:first-child) {
    width: 1fr;
    padding: .75em;
    border-radius: 3em;
    border: 0;
    cursor: pointer;
}

.selects>:first-child {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.selects>:first-child:hover {
    color: blueviolet;
}

.share>* {
    padding: 1em;
    font-size: .5em;
    border-radius: 50%;
    background-color: rgb(49, 49, 62);
    color: aliceblue;
    cursor: pointer;
    border: 0;

    transition: .5s;
}

.share>*:hover {
    color: rgb(75, 131, 199);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    display: none;
}