.meme-editor{
    display: none;
}

.editor{
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    width: 460px;
   
    font-size: 1.5rem;
    padding: 50px;
    border-radius: 1.875em;
    background-color: #383b42;
}
.btns-lines{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.btns-lines>*{
    width: 75px;
    height: 75px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.editor-btns-txt{
    display: grid;
    grid-auto-flow: column;
    background-color: rgb(58, 150, 119);
    align-items: center;
    justify-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: .5em; 
}

.btns-txt {
}
.btns-txt>*{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 10px;
}

.delete{
    background-color: rgb(255, 112, 112);
}
.switch-line{
    background-color: rgb(110, 132, 206);
}
.add-line{
    background-color: rgb(96, 177, 88);
}

.editor .text {
    grid-row: 1;
    width: 100%;
    padding: .75em;
    border: 0;
    border-radius: 3em;
}

.selects{
    grid-row: 2;
}

.editor .download {
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: 60%;
    padding: .1em;
    border-radius: 3em;
    background-color: #fff;
}