.gallery-container.open {
    display: block;
}

.gallery-container.open>* {
    margin-block-end: 0;
}

.gallery-container {
    display: none;
}

.gallery-container .file-import {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 1em;
    color: azure;
}