

.gallery-container.open{
    display: block;
<<<<<<< HEAD
    margin: 50px auto;
    break-inside: avoid;
}

.gallery-container.open>*{
    margin-block-end: 0;
=======
>>>>>>> bbdb2d2ecbbd2687636c5aab63de77cf3d984a75
}
/* .gallery-container.open img{
    width: 80vw;
} */

.gallery-container{
    display: none;
}