header {
    position: fixed;
    right: 0;
    left: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 1em;
    padding-inline: 50px;

    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0, #0c98b9 100%);
}

.main-header {
    position: relative;
}

.main-header h2 {
    display: inline-block;
    font-size: 1em;
    min-width: max-content;
}

.menu-btn {
    display: inline-block;

    cursor: pointer;
    opacity: 1;
    pointer-events: auto;

    transition: 1000ms;
}

nav {
    position: relative;
}

.main-header ul {
    display: grid;
    align-content: start;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;

    margin: 0;
    padding: 0;
    height: 100vh;
    min-width: 200px;
    
    color: #ffffff;
    background-color: var(--primary-color-1);
   
    z-index: 9999;

    transform: translateX(100%);
    transition: .5s;

}

.main-header ul>:first-child {
    margin-block-start: 2.5em;
}

.main-header li {
    display: grid;
    justify-content: center;
    align-self: center;
    margin: 0;
    width: 100%;
    height: 100px;
    min-width: max-content;
    font-size: 1.4em;
}

.main-header li:hover{
    color: #33be6d;
}



body.menu-open .menu-btn {
    pointer-events: none;
    opacity: 0;
}

body.menu-open ul {
    transform: translateX(0);
}