@media (min-width: 600px) {
    main {
        margin: 7em auto;
        display: grid;
        grid-template-columns: 15vw 1fr 15vw;
        gap: 10px;
    }

    .gallery-container {
        overflow: auto;
        display: inline-block;
        column-count: 3;
        column-width: 100px;
    }

}

@media (min-width: 900px) {
    .meme-editor.open {
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }
}